:root {
  --layout-topbar-hight: 4rem;
  --layout-frame: 1rem;
}

html {
  font-size: 1rem;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.75;
}

.card {
  position: fixed;
  background: var(--surface-card);
  padding: 100rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  border: 2px black;
}

.layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--layout-frame) var(--layout-frame) 0.5rem;
  background: var(--surface-ground);
}

.layout-content {
  padding-top: calc(var(--layout-topbar-hight) + 2*var(--layout-frame));
  padding-left: var(--layout-sidebar-width);
  padding-right: var(--layout-frame);
}
